<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资源管理</title>
    <link rel="shortcut icon" th:href="@{/image/yc.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',split:true,border:false" style="width:200px">
        <ul id="selAllfunctionTree">

        </ul>
    </div>
    <div data-options="region:'center',border:false">
        <table id="functionGrid" data-options="fit:true,collapsible:true" toolbar="#functionGrid_bar" title="资源管理"
               pagination="true" idField="fid"
               rownumbers="true" fitColumns="true" singleSelect="true" loadMsg="加载中..."
        >
            <thead>
            <tr>
                <th field="fid" width="50" hidden="true">资源id</th>
                <th field="fname" width="50" editor="{type:'validatebox',option:{required:true}}">资源名</th>
                <th field="url" width="50" editor="text">url</th>
                <th field="status" width="50" editor="text">状态</th>
            </tr>

            </thead>


        </table>
    </div>
</div>
<div id="functionGrid_bar" style="padding:5px;height:auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
       onclick="acceptFunction()">保存修改</a>
</div>
<script type="text/javascript">
    //第一次加载一次表格显示数据用
    $('#functionGrid').datagrid({
        singleSelect: true,
        queryParams: {parent_id: -1},
        url: '/back/function/findFunctionByPages.action',
        onClickCell: onClickCell
    });
    //树加载
    $('#selAllfunctionTree').tree({
        lines: true,
        url: '/back/function/selAllFunctionTree.action',
        onClick: function (node) {
            if (!$('#selAllfunctionTree').tree('isLeaf', node.target)) {//判断该节点是不是子节点
                var functionGrid = undefined;
                functionGrid = $('#functionGrid').datagrid({
                    singleSelect: true,
                    queryParams: {parent_id: node.id},
                    url: '/back/function/findFunctionByPages.action',
                    onClickCell: onClickCell
                });
            }else{
                $.messager.alert('温馨提示','你点击的节点没有子节点!','info');
            }


        }

    });
    $.extend($.fn.datagrid.methods, {
        editCell: function (jq, param) {
            return jq.each(function () {
                var opts = $(this).datagrid('options');
                var fields = $(this).datagrid('getColumnFields', true).concat($(this).datagrid('getColumnFields'));
                for (var i = 0; i < fields.length; i++) {
                    var col = $(this).datagrid('getColumnOption', fields[i]);
                    col.editor1 = col.editor;
                    if (fields[i] != param.field) {
                        col.editor = null;
                    }
                }
                $(this).datagrid('beginEdit', param.index);
                for (var i = 0; i < fields.length; i++) {
                    var col = $(this).datagrid('getColumnOption', fields[i]);
                    col.editor = col.editor1;
                }
            });
        }
    });
    var editIndex = undefined;

    function endEditing() {
        if (editIndex == undefined) {
            return true
        }
        if ($('#functionGrid').datagrid('validateRow', editIndex)) {
            $('#functionGrid').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }

    function onClickCell(index, field) {
        if (endEditing()) {
            $('#functionGrid').datagrid('selectRow', index)
                .datagrid('editCell', {index: index, field: field});
            editIndex = index;
        }
    }

    function acceptFunction() {
        if (endEditing()) {
            var rows = $('#functionGrid').datagrid('getChanges');
            var length = rows.length;
            if (length > 0) {
                var obj = undefined;
                var arr = new Array(length);
                for (var i = 0; i < length; i++) {
                    obj = new Object();
                    obj.fid = rows[i].fid;
                    obj.fname = rows[i].fname;
                    obj.url = rows[i].url;
                    obj.status = rows[i].status;
                    arr[i] = obj;
                }
                $.post("/back/function/updateFunction.action", {functions: JSON.stringify(arr)}, function (data) {
                    if (data) {
                        $.messager.show({
                            title: '成功提示',
                            msg: '更新成功。。.',
                            timeout: 5000,
                            showType: 'slide'
                        });
                    }
                }, "json")
                $('#functionGrid').datagrid('acceptChanges');//将编辑好的数据写进表格
            } else {
                $('#functionGrid').datagrid('endEdit', editIndex);
                editIndex = undefined;
                $.messager.alert('温馨提示', '没有修改数据!', 'info');
            }
        }
    }

</script>


</body>
</html>