<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <link rel="shortcut icon" th:href="@{image/yc.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar(){
            window.scrollTo(0,1);
        }
    </script>
    <link th:href="@{css/loginstyle.css}" rel="stylesheet" type="text/css" media="all" />
</head>
<body leftmargin="0" onload="changeImg()">
<!-- main -->
<div class="main-w3layouts wrapper">
    <h1>微信</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="/back/user/login.action" method="post" onsubmit="return check()">
                <input class="text" type="text" name="userName" placeholder="用户名"  required="">
                <input class="text" type="password" name="password" placeholder="密码"  required="">
                <input class="text" type="code" name="code" id="vcode" placeholder="验证码" required="">
                <span id="code" title="看不清，换一张"></span>
                <div class="wthree-text">
                    <ul>
                        <li>

                        </li>

                    </ul>
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="立即登录">
            </form>
        </div>
    </div>
    <!-- 漂浮物的li列表 不要删除-->
    <ul class="w3lsg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
<script type="text/javascript">
    var code;//声明一个变量用于存储生成的验证码
    document.getElementById("code").onclick=changeImg;
    function changeImg(){
        //alert("换图片");
        var arrays=new Array(
            '1','2','3','4','5','6','7','8','9','0',
            'a','b','c','d','e','f','g','h','i','j',
            'k','l','m','n','o','p','q','r','s','t',
            'u','v','w','x','y','z',
            'A','B','C','D','E','F','G','H','I','J',
            'K','L','M','N','O','P','Q','R','S','T',
            'U','V','W','X','Y','Z'
        );
        code='';//重新初始化验证码
        //alert(arrays.length);
        //随机从数组中获取四个元素组成验证码
        for(var i=0;i<4;i++){
            //随机获取一个数组的下标
            var r=parseInt(Math.random()*arrays.length);
            code+=arrays[r];
            //alert(arrays[r]);
        }
        //alert(code);
        document.getElementById('code').innerHTML=code;//将验证码写入指定区域
    }

    //效验验证码(表单被提交时触发)
    function check(){
        //获取用户输入的验证码
        var input_code=document.getElementById('vcode').value;
        //alert(input_code+"----"+code);
        if(input_code.toLowerCase()==code.toLowerCase())
        {
            //验证码正确(表单提交)
            return true;
        }
        alert("请输入正确的验证码!");
        //验证码不正确,表单不允许提交
        return false;
    }
</script>
</html>